#nprogress .spinner {
  top: 60px;
  left: 50%;
  margin-left:-9px;
  right:auto;
}
#nprogress .spinner-icon {
  //border-top-color: #dd4b39;
  //border-left-color: #dd4b39;
}

.form-group.required .control-label:before{
    color: red;
    content: "*";
    position: absolute;
    margin-left: -10px;
}
.table_info_w{
    display: flex;
    align-items:center;

    .dataTables_info{
        padding:0 !important;
    }
    .dataTables_length{
        margin-left:15px;
        &>label{
            margin:0;
            display: flex;
            align-items:center;
            select{
                margin: 0 5px;
            }
        }
    }
}

.table-pager-w{

}
.dataTables_paginate {

}
.pager-goto-w{

}
.no-padding{
    padding:0;
}

.avatar-preview{
    margin-top: 10px;
    border: 1px solid #d1d1d1;
    background: #ddd;
    display: flex;
    width: 100px;
    height: 100px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    img{
        max-width:100%;
    }
}